@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico Regular"), local("Pacifico-Regular"), url(/pwa/assets/fonts/CircularXXWeb-Book.woff2) format("woff2");
    font-display: swap;
}

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-palette-green: #04aa6d;
    --color-palette-blue: #2196f3;
    --color-palette-another-blue: #3498db;
    --color-palette-red: #f44336;
    --color-palette-light-grey: #f3f3f3;
    --color-palette-dark-grey: #808080;
    --color-palette-danger: #cc3300;
    --color-palette-warning: #ff9800;
    --color-palette-focus: #ffcc00;
    --color-palette-success: #339900;
    --color-palette-confirm: #99cc33;
    --color-palette-info: #2196f3;
    --color-palette-other: #e7e7e7;
    --color-palette-dark-palette-one: #222831;
    --color-palette-dark-palette-two: #4e535a;
    --color-palette-dark-palette-three: #7a7e83;
    --color-palette-dark-palette-four: #a7a9ad;
    --color-palette-dark-palette-five: #d3d4d6;
    --web-fonts: Arial, Helvetica, sans-serif;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.loader {
    border: 1em solid var(--color-palette-light-grey);
    border-top: 1em solid var(--color-palette-another-blue);
    border-radius: 50%;
    width: 7em;
    height: 7em;
    animation: spin 2s linear infinite;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--color-white);
    background-color: var(--color-black);
}

::selection {
    color: var(--color-white);
    background-color: var(--color-black);
}

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-black);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-black);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-black);
}

:root.fonts-loaded {
    --web-fonts: "Pacifico";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    line-height: 2;
    font-family: var(--web-fonts);
}

nav {
    position: fixed;
    top: .75rem;
    right: .75rem;
    flex-direction: column-reverse;
}

nav button {
    appearance: none;
    background-color: #cccccc50;
    padding: 0.25rem;
    border-radius: 0rem;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

section#displayAuthors header {
    flex: 1 0 100%;
}

article.author-card {
    flex: 0 0 12rem;
    text-align: center;
    border-radius: 0.75rem;
    border: thin solid #00000030;
}

article.author-card figure {
    padding-top: 1rem;
}

article.author-card img {
    border-radius: 7rem;
    border: thin solid #00000030;
    filter: drop-shadow(.1rem .2rem .3rem #00000050);
    width: 8rem;
    height: 8rem;
}

article.author-card p {
    margin: 0;
    padding-bottom: 1rem;
}

nav button#resetStorage {
    rotate: 0deg;
    transition: rotate 700ms ease-in-out 0s;
    background-color: transparent;
}

nav button#resetStorage:is(:hover, :active, :focus) {
    rotate: -180deg;
    transition: rotate 700ms ease-in-out 0s;
}


body>header,
body>footer {
    margin: 2rem 0;
    width: 100%;
}

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.content-start {
    align-content: flex-start;
}

.gap-x1 {
    gap: 1rem;
}

.gap-x2 {
    gap: 2rem;
}

main#main-content {
    padding: 2rem 0;
    width: 85%;
}

main#main-content>* {
    width: 100%;
}

details {
    padding: .5rem .5rem 0;
}

summary {
    padding: .5rem;
    cursor: pointer;
}

details[open] {
    padding: .5rem;
}

summary h3 {
    display: inline-block;
}

form {
    width: 100%;
}

fieldset {
    padding: 1rem;
    width: 100%;
    border-radius: .75rem;
}

textarea {
    resize: vertical;
}

fieldset[name="field"]>* {
    flex-basis: 100%;
}

fieldset[name="field"] label {
    flex: 0 1 10rem;
}

fieldset[name="field"] label+ :is(input, select, textarea) {
    flex: 1 0 18rem;
}

fieldset[name="field"] label+input[type="number"] {
    flex: unset;
}

fieldset[name="field"] input[type="number"]+input[type="button"] {
    padding: .25rem;
}

select[multiple] {
    height: 1.5em;
    vertical-align: top;
}

select[multiple]:is(:focus, :active) {
    height: auto;
}

label>span {
    font-size: small;
}

input.invalid {
    background-color: #cc3300;
}

input:not([type="checkbox"], [type="radio"]) {
    appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:not([type="submit"], [type="reset"], [type="button"]) {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}

input[type="date"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="datetime-local"] {
    width: initial;
}

input[type="number"]:read-only {
    user-select: none;
    background-color: #cccccc;
    outline: none;
    cursor: not-allowed;
}

input[type="file"]:read-only {
    cursor: pointer;
}

input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:focus {
    background-image: linear-gradient(pink, lightgreen);
}

label:has(+ input#author-avatar) {
    cursor: pointer;
}

input#author-avatar {
    display: none;
    display: initial;
}

.app-search {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
}

.app-search input[type="search"] {
    flex: 0 1 25rem;
    padding: .5rem;
    font-size: 1.1rem;
}

.app-search input[type="submit"] {
    flex: 0 1 5rem;
    padding: .25rem;
    border-radius: 0%;
}

div#avatar-preview {
    text-align: center;
}

div#avatar-preview>p {
    padding: 1rem;
    border: thin dashed;
}

div#avatar-preview ol {
    list-style-type: none;
}

dialog#addUpdateAuthorDialog {
    margin: auto;
    max-width: 100%;
    width: 70dvmax;
    max-height: 100%;
    height: 70dvmin;
    padding: 1rem;
    border: none;
    border-radius: .75rem;
}

dialog::backdrop {
    background-color: #dddddd;
    background: repeating-linear-gradient(60deg,
            rgba(0, 0, 255, .2),
            rgba(0, 0, 255, .2) .1em,
            rgba(0, 0, 255, .4) .1em,
            rgba(0, 0, 255, .4) 1em);
    backdrop-filter: blur(.1em);
}

p {
    margin: 1rem 0 0;
}

img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
}

.app-header figure {
    width: 5rem;
}

:focus:not(:focus-visible) {
    outline: none;
}

a:hover,
a:focus {
    text-underline-offset: .25rem;
}

.app-header a,
.app-nav a,
.app-footer a {
    color: var(--color-black);
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    /* Extra small devices (phones, 600px and down) */
}

@media only screen and (min-width: 600px) {
    /* Small devices (portrait tablets and large phones, 600px and up) */
}

@media only screen and (min-width: 768px) {
    /* Medium devices (landscape tablets, 768px and up) */
    main#main-content {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    /* Large devices (laptops/desktops, 992px and up) */
}

@media only screen and (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
}