@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
    font-display: swap;
  }

:root {
    --color-black: #000000;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    line-height: 2;
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: .75rem;
    right: .75rem;
    flex-direction: column-reverse;
}

nav button {
    appearance: none;
    background-color: #cccccc50;
    padding: 0.25rem;
    border-radius: 0rem;
    border: none;
    cursor: pointer;
    font-size: 3rem;
}

section#displayAuthors header {
    flex: 1 0 100%;
}

article.author-card {
    flex: 0 0 12rem;
    text-align: center;
    border-radius: 0.75rem;
    border: thin solid #00000030;
}

article.author-card figure {
    padding-top: 1rem;
}

article.author-card img {
    border-radius: 7rem;
    border: thin solid #00000030;
    filter: drop-shadow(.1rem .2rem .3rem #00000050);
    width: 8rem;
    height: 8rem;
}

article.author-card p {
    margin: 0;
    padding-bottom: 1rem;
}

nav button#resetStorage {
    rotate: 0deg;
    transition: rotate 700ms ease-in-out 0s;
    background-color: transparent;
}

nav button#resetStorage:is(:hover, :active, :focus) {
    rotate: -180deg;
    transition: rotate 700ms ease-in-out 0s;
}


body>header,
body>footer {
    margin: 2rem 0;
    width: 100%;
}

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.content-start {
    align-content: flex-start;
}

.gap-x1 {
    gap: 1rem;
}

.gap-x2 {
    gap: 2rem;
}

main#main-content {
    padding: 2rem 0;
    width: 85%;
}

main#main-content>* {
    width: 100%;
}

details {
    padding: .5rem .5rem 0;
}

summary {
    padding: .5rem;
    cursor: pointer;
}

details[open] {
    padding: .5rem;
}

summary h3 {
    display: inline-block;
}

form {
    width: 100%;
}

fieldset {
    padding: 1rem;
    width: 100%;
    border-radius: .75rem;
}

textarea {
    resize: vertical;
}

fieldset[name="field"]>* {
    flex-basis: 100%;
}

fieldset[name="field"] label {
    flex: 0 1 10rem;
}

fieldset[name="field"] label+ :is(input, select, textarea) {
    flex: 1 0 18rem;
}

fieldset[name="field"] label+input[type="number"] {
    flex: unset;
}

fieldset[name="field"] input[type="number"]+input[type="button"] {
    padding: .25rem;
}

label>span {
    font-size: small;
}

input:not([type="checkbox"], [type="radio"]) {
    appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:not([type="submit"], [type="reset"], [type="button"]) {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}

input[type="date"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="datetime-local"] {
    width: initial;
}

input[type="number"]:read-only {
    user-select: none;
    background-color: #cccccc;
    outline: none;
    cursor: not-allowed;
}

input[type="file"]:read-only {
    cursor: pointer;
}

input {
    border: 2px solid currentcolor;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:focus {
    background-image: linear-gradient(pink, lightgreen);
}

label:has(+ input#author-avatar) {
    cursor: pointer;
}

input#author-avatar {
    display: none;
    display: initial;
}

.app-search {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
}

.app-search input[type="search"] {
    flex: 0 1 25rem;
    padding: .5rem;
    font-size: 1.1rem;
}

.app-search input[type="submit"] {
    flex: 0 1 5rem;
    padding: .25rem;
    border-radius: 0%;
}

div#avatar-preview {
    text-align: center;
}

div#avatar-preview>p {
    padding: 1rem;
    border: thin dashed;
}

div#avatar-preview ol {
    list-style-type: none;
}

dialog#addUpdateAuthorDialog {
    margin: auto;
    max-width: 100%;
    width: 70dvmax;
    max-height: 100%;
    height: 70dvmin;
    padding: 1rem;
    border: none;
    border-radius: .75rem;
}

dialog::backdrop {
    background-color: #dddddd;
    background: repeating-linear-gradient(60deg,
            rgba(0, 0, 255, .2),
            rgba(0, 0, 255, .2) .1em,
            rgba(0, 0, 255, .4) .1em,
            rgba(0, 0, 255, .4) 1em);
    backdrop-filter: blur(.1em);
}

p {
    margin: 1rem 0 0;
}

img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
}

.app-header figure {
    width: 5rem;
}

:focus:not(:focus-visible) {
    outline: none;
}

a:hover,
a:focus {
    text-underline-offset: .25rem;
}

.app-header a,
.app-nav a,
.app-footer a {
    color: var(--color-black);
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    main#main-content {
        width: 90%;
    }
}