:root {
    --color-black: #000000;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    line-height: 2;
}

nav {
    position: fixed;
    top: .75rem;
    right: .75rem;
}

nav button {
    padding: 0.25rem;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

body > header,
body > footer {
    margin: 2rem 0;
    width: 100%;
}

.flexy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.content-start {
    align-content: flex-start;
}

.gap-x1 {
    gap: 1rem;
}

.gap-x2 {
    gap: 2rem;
}

main#main-content {
    padding: 2rem 0;
    width: 85%;
}
main#main-content > * {
    width: 100%;
}

details {
    padding: .5rem .5rem 0;
}

summary {
    padding: .5rem;
    cursor: pointer;
}

details[open] {
    padding: .5rem;
}

summary h3 {
    display: inline-block;
}

form {
    width: 100%;
}

fieldset {
    padding: 2rem;
    width: 100%;
}

textarea {
    resize: vertical;
}

fieldset[name="field"] > * {
    flex-basis: 100%;
}

fieldset[name="field"] label {
    flex: 0 1 10rem;
}

fieldset[name="field"] label + :is(input, select, textarea) {
    flex: 1 0 18rem;
}

fieldset[name="field"] label + input[type="number"] {
    flex: unset;
}

fieldset[name="field"] input[type="number"] + input[type="button"] {
    padding: .25rem;
}

label > span {
    font-size: small;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:not([type="submit"], [type="reset"], [type="button"]) {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}

input[type="date"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="datetime-local"] {
    width: initial;
}

input[type="number"]:read-only {
    user-select: none;
    background-color: #cccccc;
    outline: 0;
    cursor: not-allowed;
}

input[type="file"]:read-only {
    cursor: pointer;
}

label:has(+ input#author-avatar) {
    cursor: pointer;
}

input#author-avatar {
    display: none;
    display: initial;
}

.app-search {
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    font-size: 1.1rem;
}

.app-search input[type="search"] {
    flex: 0 1 25rem;
    padding: .5rem;
    font-size: inherit;
}

.app-search input[type="submit"] {
    flex: 0 1 5rem;
    padding: .25rem;
    border-radius: 0%;
}

div#avatar-preview {
    text-align: center;
}

div#avatar-preview > p {
    padding: 1rem;
    border: thin dashed;
}

div#avatar-preview ol {
    list-style-type: none;
}

p {
    margin: 1rem 0 0;
}

img {
    width: 100%;
    background-repeat: no-repeat;
    border: 0;
}

.app-header figure {
    width: 5rem;
}

.app-header a,
.app-nav a,
.app-footer a {
    color: var(--color-black);
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    main#main-content {
        width: 90%;
    }
}